<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TAF.TAFSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <TAF.TAFSettings>
      <setting name="TestSuite" serializeAs="String">
        <value>TestSuites\SmokeTest.yaml</value>
      </setting>
      <setting name="TestResultsDirectory" serializeAs="String">
        <value>TestResults</value>
      </setting>
      <setting name="BugLinkTemplate" serializeAs="String">
        <value>https://sourceforge.net/tracker/index.php?func=detail&amp;aid={0}&amp;group_id=191996&amp;atid=939622</value>
      </setting>
      <setting name="DefaultConfiguration" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="TestScenarios" serializeAs="String">
        <value></value>
      </setting>
      <setting name="BeginTestCaseID" serializeAs="String">
        <value></value>
      </setting>
      <setting name="EndTestCaseID" serializeAs="String">
        <value></value>
      </setting>
    </TAF.TAFSettings>
  </userSettings>
</configuration>