<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <AutomationTool>TAF.sikuli\run.cmd</AutomationTool>
  <AutomationToolParameters></AutomationToolParameters>
  <BugList></BugList>
  <Constants>PauseOnFail=False</Constants>
  <WorkingDirectory></WorkingDirectory>
  <TestScenariosDirectory>TestScenarios</TestScenariosDirectory>
  <DetailsLogFileName>detailed.log</DetailsLogFileName>
  <FoldersToCopy>Screenshots</FoldersToCopy>
  <AutomationToolTimeout>23:59</AutomationToolTimeout>
  <KillChildProcessesAfterTimeout>true</KillChildProcessesAfterTimeout>
  <TestData>TestData\Data.xls, TestData\Settings.yaml</TestData>
  <ManualTestCasesDirectory>Manual Test Cases</ManualTestCasesDirectory>
</configuration>